/* -------------------header start heard------------------- */
.heardes{
  width: 100%;
  top: 0%;
  position: sticky;
  z-index: 10;
  top: 0px;
  height: 10vh;
  background: rgb(182, 207, 221);
}
.facebookss{
  display: flex;
}
.fonters{
  display: flex;
  justify-content: space-between;
}
.name_facebook{
  color: white;
  margin-top: 1.5rem;
}
.icon_styl{
  color: rgb(0, 92, 252);
  margin-top: 2px;
}
.con{
  color: white;
}

.icon_styls{
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  padding: 4px 4px;
  color: rgb(0, 92, 252);
  }

.re_search{
  width: 45%;
  display: flex;
  height: 5vh;
  margin-top: 1rem;
  align-items: center;
  text-align: center;
  
}
.re_find{
  width: 100%;
  border-radius: 20px;
}
.submit{
  width: 13%;
  height: 4vh;
  margin: 3px;
  border-radius: 5px;

}
/* ========Here it  login account code =================================== */
.loggin{
  margin: 75px;
    width: 50%;
    margin-left: 25rem;
    position: absolute;
    
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
  button {
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 40%;
      font-size: 18px;
      background-color: #04AA6D;
  }
  button:hover {
    opacity: 0.8;
  }
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  .container {
    padding: 16px;
  }
  .new_account{
      width: 40%;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }


  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  .facebooks_head{
    text-align: center;
    font-style: italic;
    margin-top: 20px;
  }
  .loog{
    color: white;
  }
  .profile_stay,.profiler{
    width: 28%;

  }


/* =================== here is the create aboout new account================ */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* Set a style for all buttons */
  button {
    background-color: #2155fd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 6px;
    cursor: pointer;
    width: 55%;
  }
  button:hover {
    opacity: 0.8;
  }
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  img.avatar {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 0%;
  }
  .name_access
  {
    display: flex;
    font-size: 18px;
    margin-left: 15rem;
    margin-bottom: 0%;
    position: absolute;
  }
  .names_access{
    display: flex;
    font-size: 20px;
    margin-left: 15rem;
    margin-bottom: 0%;
    position: absolute;
  }
  .container {
    padding: 16px;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 25px;
  }
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }


/* ==========================////////////============ */

body{
    background:rgb(250, 242, 227);
}
.accoun_title{
    display: flex;
    width: 50%;
    justify-content: center;
    margin: auto;
}
.profile{
    width: 11%;
    height: 12vh;
    border-radius: 50%;
    background-image:url(../profile_image/dog-g74222f906_1920.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.title_post{
    border-radius: 5px;
    width:75% ;
    height: 5vh;
    align-items: center;
    display: flex;
    margin: auto;
    border: none;
    justify-content: center;
    word-wrap: break-word;
}
.text_post{
  display: flex;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}
.images{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.choose_profile {
    width: 75%;
    height: 50vh;
    display: flex;
    border-radius: 10px;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    background: rgb(206, 241, 255);
   align-items: center;
   justify-content: center;
}
.choose{
    background: blue;
    width: 22%;
    border-radius: 2px;
}
.click_post,.click_edit{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 75%;
    height: 5vh;
    margin-top: 25px;
    color: wheat;
    border-radius: 10px;
    font-size: 18px;
}
.click_post{
    background:rgb(22, 22, 250);
}
.click_edit{
    background: rgba(245, 216, 53, 0.959);
    color: rgb(37, 37, 37);
}

/* resutl_from_adding_posting chard=== */
/* done==============reallyy================ */

.icon_stylser{
  display: flex;
  justify-content: flex-end;
}
.detail{
  display: flex;
  width: 55%;
  margin: auto;
  font-size: 15px;
  text-align: center;
  align-items: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  justify-content: space-evenly;
  background: rgb(201, 212, 241);
}
.mind_text{
  height: 4.5vh;
}
.body_text{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.text_search{
  height: 4vh;
}
.filer{
  width: 55%;
  margin-top: 10px;
  display: flex;
  margin-left: 21.4rem;
}

.profiler{
  width: 15%;
  height: 17vh;
  margin-bottom: 5px;
  border: solid 2px black;
  border-radius: 100px;
}
.myname{
  width: 30%;
  height: 15vh;
  display: flex;
  font-size: 36px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

table, th, td {
  margin: auto;
}
table{
  width: 55%;
  height: 20vh;
  font-size: 30px;
  text-align: center;
  background: rgb(115, 115, 201);
  color: rgb(255, 149, 167);
  justify-content: center;

}
.table_mind{
  margin-top: 0%;
  width: 55%;
  display: flex;
  margin: auto;
  font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

/* ============== result adding card from posting card======= */
.getback,.backs{
  width: 6%;
  color: blue;
  height: 5vh;
  font-size: 22px;
  margin-top: 5px;
  align-items: center;
  margin-left: 5px;
  justify-content: center;
  text-align: center;
border-radius: 5px;
  /* background: rgb(79, 155, 255); */
}
.card{
    width: 55%;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
}

.card-body{
    width: 100%;
}
.add_font{
    display: flex;
    margin-left: 35rem;
    margin-top: auto;
    position: absolute;
}
.adding{
  margin: 10px;
  margin-bottom: 20rem;
}
.cons,.card_link{
  font-size: 25px;
}
.text_card .card_text{
  font-size: 19px;
}
.both_account{
  display: flex;
  margin-top: 0%;
}

.pict_profile{
  width: 30%;
  }
.imagess{
    width: 33%;
    height: 11vh;
    margin-top: 6px;
    margin-left: 10px;
    border-radius: 80px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
.name_accoount{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    font-size: 28px;
    margin-bottom: 0%;
    margin-top: 28px;
    width: 100%;
}
.datetime{
    margin-top:2px;
    width: 100%;
    font-size: 15px;
    margin-left: 10px;
    position: absolute;
}
.acount{
    height: 14vh;
    margin-left: 6rem;
    border-radius: 50px;
    position: absolute;
}
.fonts_more{
  position: absolute;
  justify-content: center;
  margin-left: 40rem;
}

.text_card .card_text{
  margin-top: 20px;
    margin-left: 12px;
    font-size: 16px;
    margin-top: 0%;
}
.Image_add{
    width: 100%;
    margin: auto;
    display: flex;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.like_comment_share{
    width:100%;
    display: flex;
    margin: auto;
    height: 5vh;
    border-radius: 5px;
    background: rgb(209, 243, 243);
    justify-content: space-evenly;
}
.likes,
.comments,
.shares{
    margin: auto;
    display: flex;
    font-size: 20px;
    margin-top: 5px;
}
.like_number,
.comment_number,
.share_number{
    margin-left: 15px;
}

/* ======================== style add comment to user====== */

.commentners{
  display: flex;
  width: 100%;
  margin: auto;
  border-radius:none;
}
.text_comment{
  height: 6vh;
  width: 90%;
  font-size: 15px;
  border: none;
}
.button_comment{
  width: 10%;
}
.buttonss{
  width: 11%;
  height: 5vh;
}
/*----------------- the place that  stay on profile user and place to login  aready to account */
.bar{
 margin-top: 1px;
 border-bottom: 0%;
 position: sticky;
 z-index: 10;
 top: 4.5rem;
}
.bar_fornt{
  width: 55%;
  margin: auto;
  display: flex;

  top: 0;
  background:rgb(250, 242, 227);
  text-align: center;
  justify-content: space-between;
}

/* ----------------------------------result login----------------- */
.text_here{
  text-align: center;
  font-size: 20px;
}
.painer_profile{
  width: 45%;
  height: 72vh;
  border-radius: 10px;
  margin-left: 25rem;
  position: absolute;
  margin-bottom: 5rem;
  border: 1px solid black;
  background: rgba(218, 218, 218, 0.596);
}
.pics{
  position: absolute;
  width: 100%;
  height: 57vh;
  border-radius: 6px;
}
.small_im{
  width: 22%;
  height: 22vh;
  margin-top: 22rem;
  border-radius: 100px;
  border: solid 2px black;
  position: absolute;
}
.name_files{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25rem;
  margin-left: 11rem;
  position: absolute;
  font-size: 28px;
}
.names{
  font-size: 22px;
  margin-top: 27.5rem;
  margin-left: 11rem;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
}

.text_show{
  margin: auto;
  display: flex;
  font-size: 18px;
  margin-top: 5px;
  text-align: center;
  justify-content: center;
}


.create_post{
  width: 80%;
  height: 6vh;
  display: flex;
  position: absolute;
  margin-top: 32rem;
  margin-bottom: 10px;
}

.creaters{
  width: 80%;
  height: 6vh;
  display: flex;
  font-size: 20px;
  margin-right: 35px;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: rgba(49, 63, 255, 0.863);
}

.log_post{
  width: 20%;
  height: 5vh;
  display: flex;
  font-size: 20px;
  margin-top: 5px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(56, 84, 241);
  justify-content: center;
  
}
.loggs{
  width: 20%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left:18px;
  margin-top: 5px;
  height: 5vh;
  border-radius: 5px;
  background: rgb(56, 84, 241);
}
.colors,.logg{
  color: white;
  

}



 /* end profile account with  css ================ */

.write_comment,.text_comment{
  width: 100%;
  height: 5vh;
  display: flex;
}
.text_comment{
  border: solid 1px black;
  border-radius: 50px;
}
.commentese{
  font-size: 25px;
  height: 4.5vh;
  margin-top: 5px;
}

/* display to user post=============== */
.commenters{
  display: flex;
  margin: auto;
  font-size: 18px;
  justify-content: center;
}
.comment_texts{
  display: flex;
  margin-left: 10px;
}
/* take_from_ done pages ============================= */

.headess1{
  background: blue;
}
.commenterrs{
  font-size: 16px;
  margin-left: 15px;
}

